*
*.*
!README.md
!package.json
!src/languages/**/*.*
!src/themes/**/*.*
!Scientia-is-lux-principium-400px-TM.png
.synk
.gitignore
.prettierc
.vscode/**
backup/**/*.*
images/**/*.*
incoming-tmLanguage/**/*.*
luxcium.ico
node_modules
package-lock.json
resources
src/syntaxes/**/*.*
src/resources/**/*.*
tsconfig.json
vsc-extension-quickstart.md
tok.env
*.env
